<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>Normal.dotm</Template>
  <TotalTime>6</TotalTime>
  <Pages>3</Pages>
  <Words>344</Words>
  <Characters>1965</Characters>
  <Application>Microsoft Office Word</Application>
  <DocSecurity>0</DocSecurity>
  <Lines>16</Lines>
  <Paragraphs>4</Paragraphs>
  <ScaleCrop>false</ScaleCrop>
  <Company>Microsoft</Company>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>2305</CharactersWithSpaces>
  <SharedDoc>false</SharedDoc>
  <HyperlinksChanged>false</HyperlinksChanged>
  <AppVersion>16.0000</AppVersion>
</Properties>
